<header class="header">
  <div class="header__left">
    <ul class="header__left_list">
      <li class="header__left_item">
        <a class="header__left_link" href="index.html">Главная</a>
      </li>
      <li class="header__left_item">
        <a class="header__left_link has-subnav" href="#"> Статьи </a>
        <ul class="subnav">
          <li><a class="subnav__link" href="#">Создание сайтов</a></li>
          <li><a class="subnav__link" href="#">Интернет-маркетинг</a></li>
          <li><a class="subnav__link" href="#">Продвижение видео</a></li>
        </ul>
      </li>
      <li class="header__left_item">
        <a class="header__left_link" href="#">Обо мне</a>
      </li>
      <li class="header__left_item">
        <a class="header__left_link" href="#">Реклама</a>
      </li>
    </ul>
  </div>
  <div class="header__right">
    <ul class="header__right_list">
      <li class="header__right_item">
        <a class="header__right_link" href="#">Профиль</a>
      </li>
    </ul>
    <form class="header__right_search" action="/" method="post">
      <input class="header__right_search_input" type="text" />
    </form>
  </div>
</header>
